.hotel_description {
    width: 100%;
    height: auto;
}

.hotel_description__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.hotel_description__container_description {
    text-align: justify;
    text-align-last: left;

    margin: 0 auto;
    white-space: pre-line;
    hyphens: auto;
}