.hotelReviews{
    width: 100%;
    height: 885px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hotelReviews_container{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.hotelReviews_container__titleWrapper{
    color: var( --color-text-secondary);
      display: flex;
    align-items: center;
    gap: 5px;
}
.hotelReviews_container__deckWrapper{
    color: var(--color-text);
}
.grade_list__container{
    display: flex;
    gap: 20px;
}

.comment_list__container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(  --color--hotel-review-bg);
     border-radius: 20px;
}

.comment_list__grid{
    width: 100%;
    max-height: 553px;
    height: fit-content;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 43px 174px;
    padding: 44px 150px 31px 150px;
    margin-top: 13px;
}
.comment_list__btn{
     display: flex;
     justify-content: center;
     align-items: center;
     justify-self: center; 
     padding: 44px 150px 31px 150px;
}
/* ============grade_card==================*/
.grade_card{
    width: 277px;
    height: 128px;
    background-color: var(  --color--hotel-review-btn);
   display: flex;
   flex-direction: column;

    align-items: center;
    justify-content: start;
        border-radius: 20px;
        padding: 14px 0;
    gap: 5px;
}
.grade_card_container{
    display: flex;
    align-items: center;
    gap: 8px;
}
/* ============comment_card==================*/
.comment_card{
    width: 100%;
    height: 164px;
    padding: 44 px 144px 31px 44px;
    border-radius: 20px;
    background-color: var(  --color--hotel-review-bg);
}
.comment_card_comment{
    text-align: justify;
    text-align-last: left;

    margin: 0 auto;
    white-space: pre-line;
    hyphens: auto;
    

}
.comment_card_comment p {
    display: -webkit-box;       
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;       
    overflow: hidden;           
    text-overflow: ellipsis;      
    line-height: 1.4em;          
    max-height: calc(1.4em * 4);  
    margin: 0;
}

.comment_card__title_icon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var( --color--hotel-review-text);
}
