.card {
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 18px;
    background: #fff;
}

.card__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.card__hotelTitle {
    margin-top: 4px;
}

.card__icons {
    display: flex;
    gap: 16px;
    margin: 8px 0;
}

.iconItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    font-size: 20px;
}

.card__condition {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.card__booking {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card__priceBlock {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
}

/*=====================================================
            description card
=====================================================*/
.optionRow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 4px 0;
}

.optionColumn {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.icon {
    font-size: 18px;
    color: #0071c2;
}


/*=====================================================
            booking card
=====================================================*/
.bookingCard {
    border: 1px solid var( --color-border);
    border-radius: 12px;
    background: #fff;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bookingCard__content {
    display: flex;
    gap: 16px;
}

.bookingCard__info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-right: 1px solid var( --color-border);
    height: 100%;
    width: 70%;
}
