.accountPanel {
  /* min-width: 1020px; */
  width: 100%;
  height: 771px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color-bg);
}

.accountPanel__container {
  width: 100%;
  height: 100%;
  padding: 26px 154px 12px 101px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accountPanel_btn {
  width: 100%;
}

.accountPanel__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

}

.input {
  min-width: 695px;
  width: 100%;
  background-color: transparent;
  border: 3px solid var(--color-input-border);

  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.googleButton__wrapper {
  display: inline-flex;
  width: 100%;
}


.actionButton__wrapper {
  width: 100%;
  display: inline-flex;
}

/* placeholder */
.input::placeholder {
  color: var(--color-text);
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-left: 20px;
}

.radioButton_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10%;
}