.hotelCard{
  min-width: 275px;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: none;
    background-color: transparent;
    gap: 10px;
}
