.historyPanel{
    min-width: 1020px;
    width: 100%;
    height: 754px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: var(--color-bg);
}
.historyPanel__container{
    width: 100%;
    height: 100%;
    padding: 41px 47px 0 47px;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}
.container_btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
}
.carouselViewport {
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}

.container_card {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: calc((100% - 40px) / 3);
  gap: 20px;

  transition: transform 0.5s ease;
  will-change: transform;
}


.carousel_btn_container {
  display: flex;
  justify-content: center;
   align-items: center;
  gap: 200px;
}