.hotelCard{
    min-width: 275px;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: none;
    background-color: transparent;
    gap: 10px;
    border-radius: 20px;
}
.hotelCard_empty{
   width: 100%;
  height: 277px;
  min-height: 277px;
border: 1px solid var(--color-text);
 border-radius: 20px;
 padding: 0 25px;
}
.hotelCard img{
   width: 100%;
  height: 277px;
   min-height: 277px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  flex-shrink: 0;

} 
.text{
  flex: 1;
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}