.hotelCard{
    min-width: 275px;
    width: 100%;
    display: flex;
        flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: none;
    
    gap: 10px;
    border-radius: 20px;
}

.hotelCard__container{
    min-width: 275px;
    width: 100%;
    flex: 0 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: none;
    background-color: var(  --color-host-housing-card-bg);
    gap: 10px;
    border-radius: 20px;
}
.hotelCard_img{
    min-width: 275px;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: none;
    background-color: transparent;
    gap: 10px;
    border-radius: 20px;
}
.hotelCard_empty{
   width: 100%;
  height: 277px;
  min-height: 277px;
border: 1px solid var(--color-text);
 border-radius: 20px;
 padding: 0 25px;
}
.hotelCard img{
   width: 100%;
  height: 277px;
   min-height: 277px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  flex-shrink: 0;

}

.hotelCard_btn{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    padding: 0 10px;
}
.text{
  flex: 0 0 30px;
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}