.myTravelPanel{
    min-width: 1020px;
    width: 100%;
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: var(--color-bg);
}
.myTravelPanel__container {
    width: 100%;
    height: 100%;
    padding: 41px 47px 0 47px;

    overflow-y: auto; 
    overflow-x: hidden; 

    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch; 
}
.myTravelPanel__container::-webkit-scrollbar {
    width: 6px;
}

.myTravelPanel__container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}

.myTravelPanel__container::-webkit-scrollbar-track {
    background: transparent;
}

.container_btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
}
.container_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  gap: 25px; 
}