.hotelCard{
    min-width: 275px;
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: none;
    background-color: transparent;
    gap: 50px;
    padding: 19px 0 32px 0;
}
.hotelCard img{
  flex:  0 0 35%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  flex-shrink: 0;

} 
.container_left{
  flex: 1;
  width: 100%;
  height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: start;

    margin-right: 10%;
}
.container_price{
  width: fit-content;
  padding: 10px 18px;
  color: var(--color-text-secondary);
  border-radius: 20px;
  background-color: var(--color--hotel-info-bg);
}