.hotelCard{
    min-width: 275px;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: none;
    background-color: transparent;
    gap: 10px;
}
.hotelCard_empty{
  min-width: 275px;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
margin-top: 131px;
    gap: 10px;
}
.hotelCard img{
   width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  flex-shrink: 0;

} 
.text{
  flex: 1;
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}