.hotelCard {
  min-width: 275px;
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: none;
  background-color: transparent;
  gap: 50px;
  padding: 19px 0 32px 0;
}


@media (max-width: 1670px) {
  .hotelCard {
    flex-direction: column;
    height: 435px;
    gap: 10px;
  }

  .hotelCard img {
    width: 100%;
    flex: 0 0 220px !important;
    min-height: 0;
  }

  .container_left {
    width: 100%;
    margin-right: 0 !important;
    align-items: center !important;
    gap: 5px;
  }

  .hotelCard_btn {
    width: 100%;

  }
}

.hotelCard img {
  flex: 0 0 35%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  flex-shrink: 0;

}

.container_left {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  margin-right: 10%;
}

.container_price {
  width: fit-content;
  min-width: 120px;
  padding: 10px 18px;
  color: var(--color-text-secondary);
  border-radius: 20px;
  background-color: var(--color--hotel-info-bg);
}

.hotelCard_btn {
  width: fit-content;
  max-width: 310px;
  min-height: 44px;

  border: 1px solid var(--color--btn-state-border) !important;
}

.container_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1380px) {
  .container_btn {
    flex-direction: column;
    gap: 10px;
  }
}