.container {
 position: relative;
width: 430px;
height: 370px;
  background-color: var( --color-sort-modal-bg);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.header {
  height: 67px;
}


.menuList {
  display: flex;
  flex-direction: column;
}
.menuList > .menuItem:first-child {
  height: 67px; 
}
.menuList > .menuItem:last-child {
  height: 67px; 
}


.menuItem {
  background: transparent;
  border: none;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 0px 38px;
  width: 100%;
  height: 59px;
  cursor: pointer;
  font-weight: normal;
  border-radius: 0;
  transition: background-color 0.2s ease;
  position: relative;
  gap: 10px;
}

.menuItem:hover {
  background-color:var(--color--sort-modal-btn-hover); 
}

.menuItemActive {
    
  background-color: var(--color--sort-modal-btn-hover);
  font-weight: bold;
  border-radius: 8px 8px 0 0;
}

.menuItemActive::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px; 
  width: 0;
  height: 0;

  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid var(--color-bg__2); 
}

