.userInfoPanel {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 20px 15px 20px 22px;
  background-color: var(--color-bg__2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}


.userInfoPanel_line {
  margin-top: 30px;
}

.userInfoPanel_header {
  width: 100%;
  height: 200px;
  display: flex;
  gap: 60px;
}

.userInfoPanel_title_container {
  flex: 0 0 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.userInfoPanel_input {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: end;
}

.input_container {
  border: 2px solid var(--color--input-border);
  background-color: rgba(237, 237, 237, 0.4);
  display: flex;
  position: relative;

}

.input {
  flex: 1;
  padding-right: 60px;
  border: none;
  background-color: transparent;
  border-radius: 20px;
}

.input:hover {
  border: none;
}


.search_btn {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px 0 0 5px;
}


.list__user_info {
  display: flex;
  flex-direction: column;
}

.list_item {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  border: 2px solid var(--color--input-border);
  display: flex;

}

.list_left {
  border-right: 2px solid var(--color--input-border);
  flex: 0 0 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list_right {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1740px) {
  .list_right {
    flex-direction: column;
    gap: 5px;
  }

  .list_item {
    height: 100px;
  }
}

@media (max-width: 1300px) {
  .list_right {
    flex-direction: column;
    gap: 5px;
  }

  .list_item {
    gap: 5px;
    height: 120px;
  }

  .list_left {
    flex: 0 0 50%;
    flex-direction: column;
  }
}

.btn_green {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #378A48;
  color: #378A48 !important;
  padding: 5px 10px;
  border-radius: 15px;
}

.btn_red {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #B23033;
  color: #B23033 !important;
  text-decoration: underline !important;
  padding: 5px 10px;
  border-radius: 15px;
}

.btn_white {
  width: 254px;
  height: 65px;
  background-color: var(--color--white-btn);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  display: flex;
  gap: 10px;
}

.btn_white:hover {
  background-color: var(--color--white-btn);
}



.line_wrapper {
  display: flex;
  align-items: center;
  width: 317px;
}

.line {
  flex-grow: 1;
  height: 4px;
  max-width: 304px;
  width: 70%;
  background-color: var(--color-btn-text);
  position: relative;
}

.circle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-btn-text);
  border-radius: 50%;
  transform: translateY(-50%);
}

.circle_left {
  left: 0;
  transform: translateY(-50%);
}

.circle_right {
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .circle {
    width: 17px;
    height: 17px;
  }
}

@media (max-width: 768px) {
  .circle {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 900px) {
  .sidebar {
    position: relative;
    max-height: none;
  }
}