.bookingDetailsPage {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
  gap: 50px;
}

.bookingDetailsPage_conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  height: 100%;
  /* max-width: 1920px;      */
  padding: 0 380px;
  box-sizing: border-box;
  gap: 50px;
}

.booking-details-page__layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}


.offer-details__info {
  flex: 1;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


.booking-details__container {
  flex: 2;
  max-width: 800px;
}

.card__imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.time-details {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
}

.loading__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  flex: 1;
  gap: 30px;
  position: relative;
}

.loader {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}