/*=================================================
              Global Styles
===================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;

    -webkit-text-fill-color: var(--color-text) !important;
    transition: background-color 9999s ease-in-out 0s;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;

  font-family: 'Montserrat Alternates', 'sans-serif';
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  min-width: 1224px;      
  overflow-x: auto;        
  position: relative;
}

.non-display {
  display: none !important;
}

.header__logo_Oselya {
  color: var(--color-text-secondary);
}
.logo_Oselya {
  color: var(--color-text-secondary);
}
.footer__logo_Oselya{
  border-radius: 10px;

}




.bg_img__light::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;   
  height: 927px;
  background-image:  url('data:image/svg+xml,<svg width="1760" height="927" viewBox="0 0 1760 927" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 155.773C0 148.19 4.16282 141.323 10.9595 137.962C63.8849 111.786 291.803 0 324.25 0C361 0 581 131.772 648.5 143.399C710.514 154.081 1596.76 145.135 1740.4 143.61C1751.53 143.492 1760 152.49 1760 163.623V907C1760 918.046 1751.05 927 1740 927H20C8.95429 927 0 918.046 0 907V155.773Z" fill="%23EDE5D1"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
   z-index: -2;
}

.bg_img__dark::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 1920px;   
  height: 927px;
  background-image:  url('data:image/svg+xml,<svg width="1920" height="445" viewBox="0 0 1920 445" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 132.88C0 132.88 287.5 0 324.25 0C361 0 581 122.106 648.5 132.88C716 143.654 1920 132.88 1920 132.88V445H0V132.88Z" fill="%230E1E2C"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
   z-index: -2;
}

/* глобальный файл, например global.css */

/* Контрол (само поле) */
.countrySelect__control {
  background-color: transparent !important; 
  border: none !important;                  
  min-height: 0;                
  height: 100% !important;                
  box-shadow: none;            
  padding: 0;  
  border-radius: 20px;   
  overflow: hidden;     
   color: var(--color--text) !important;     
}

/* выбранное значение */
.countrySelect__single-value {
  color: var(--color--text) !important;
  line-height: 1.2;
}

/* Placeholder */
.countrySelect__placeholder {
 color: var(--color--text) !important;
  line-height: 1.2;
}

/* Открытое меню */
.countrySelect__menu {
  background-color: var( --color-card-bg);
  border: 1px solid #444;
}

/* Список внутри меню */
.countrySelect__menu-list {
  background-color: var( --color-card-bg);
}

/* Каждая опция */
.countrySelect__option {
  background-color: var( --color-card-bg);
  color: var(--color--text);
  cursor: pointer;
   padding: 4px 10px;     
  min-height: auto;        
  line-height: 1.2;     
  font-size: 14px;  
}

/* Hover опции */
.countrySelect__option--is-focused {
  background-color: var(--color--bg-img);
}

/* Выбранная опция */
.countrySelect__option--is-selected {
  background-color: var(   --color-btn-text-dark);
}


/*=================================================
              Buttons 
===================================================*/
.btn {
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  gap: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--color-btn-text);
}

.btn-text{
  color: var(--color-text) !important;
}

/* ===========================================================
               Action Button 
============================================================*/
/* Primary Action Button */
.btn-action {
  background-color: var(--color--btn-action);
  color: var(--color-btn-text-dark);
  font-size: 24px;

  overflow: hidden;
  position: relative;
  
  span {
    z-index: 20;
  }
  
  &:after {
    background: #fff;
    content: "";
    height: 200px;
    left: -100px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 30px;
    z-index: 10;
  }
}



.btn-action:hover:not(:disabled) {
  background-color: var(--color--btn-action);

    &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.btn-action--active {
  background-color: var(--color--btn-state-onclick);
  color: var(--color-btn-text-onclick);
}


/* Secondary Action Button */
.btn-action-secondary {
  background-color: var(--color--btn-action-secondary);
  color: var(--color-btn-text-dark);
  font-size: 20px;
  height: 60px;
}

.btn.light_color_btn{
    background-color: var( --color-secondary) !important;
}
.btn.light_color_btn_2{
    background-color: var( --color--btn-icon) !important;
}

/* ===================================================
           State Button 
=====================================================*/
.btn-state {
  background-color: var(--color--btn-state);
    
  color: var(--color-btn-state-text);
  padding: 10px 15px;
  font-size: 16px;
  white-space: nowrap;      
  display: inline-flex;    
  align-items: center;
}


.btn-state_filter {
   border: 3px solid var(--color--btn-state-border);
   width: fit-content; 
  color: var(--color-btn-state-text);
  height: 37px;
  display: flex;
}

.btn.btn-state_profile,
.state_profile__orangeOnHover {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 22px;
   border: 3px solid var(--color--btn-state);
}
.btn-state_profile__orangeOnHover{
  color: var(--color-text) !important;
}

.btn-state:hover:not(:disabled) {
   border: 3px solid var(--color--btn-state-border-hover);
  background-color: var(--color--btn-state);;
  color: var(--color--text);
}

.btn-state--active {
  background-color: var(--color--btn-state-onclick);
   border: 3px solid var(--color--btn-state);
  color: var(--color-btn-text-dark);
}

.btn-state_profile__orangeOnHover:not(:disabled) {
   border: 3px solid var( --color--btn-action-hover);
  background-color: transparent;
  color: var( --color--btn-action-hover);
}
.btn.btn-state_profile__orangeOnHover--active {
   border: 3px solid var( --color--btn-action-hover) !important;
  background-color: transparent;
  color: var( --color--btn-action-hover) !important;
}


.btn.btn-orange{
  color: var(--color--btn-orange);
  border-color: var(--color--btn-orange);
}


/*=================================================
             Counter Button
===================================================*/
.btn-counter {
  background-color: var(--color--btn-counter);
  width: 159px;
  height: 45px;
  border: 2px solid var(--color--btn-counter-border);
  color: var(--color-btn-text-dark);
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-around;
}

.btn-counter button {
  border: none;
  background-color: var(--color--btn-counter);
  width: 27px;
  height: 32px;
  gap: 10px;
  padding: 5px;
}


/* Text Button */
.btn-text {
  background-color: transparent;
  color: var(--color-btn-text-dark);
  font-size: 24px;
  height: 59px;
}


/* ======================================================
              Icon Button 
========================================================*/
.btn-icon {
  background: var(--color--btn-icon);
  border-radius: 10px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn_icon_close svg {
  width: 30px;
  height: 30px;
    color: var(--color-icon-close);
}

.btn_icon_close{
  position:absolute;
  top:22px;
  right: 22px;
  background-color: transparent;
  z-index: 10; 
}

.btn_icon_close:hover{
  border: none;
}


.btn_icon_isFavorite{
  position:absolute;
  top:20px;
  right: 25px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  z-index: 0; 
}
.btn_icon_isFavorite:hover{
  border: none;
}
.closeBtn.withScroll {
  right: 38px; 
}



.btn_arrow{
   width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--color-btn-arrow-border);
  box-sizing: content-box;
  background-color: transparent;

 background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 15px;
   z-index: 10; 
  cursor: pointer;
}
.btn_arrow:hover{
    background-color: var(--color-btn-arrow-hover);
}
.btn_arrow_left_light{
  background-image: url('data:image/svg+xml,<svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.06934 14.0002C9.06934 14.0002 1.00037 10.6644 1.00037 7.7455C1.00037 4.82662 9.06934 1.00024 9.06934 1.00024" stroke="%230D2D4A" stroke-width="2" stroke-linecap="round"/><line x1="2" y1="7.17261" x2="28.6897" y2="7.17261" stroke="%230D2D4A" stroke-width="2" stroke-linecap="round"/></svg>');
}
.btn_arrow_right_light{
  background-image: url('data:image/svg+xml,<svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.6211 14.0002C20.6211 14.0002 28.6901 10.6644 28.6901 7.7455C28.6901 4.82662 20.6211 1.00024 20.6211 1.00024" stroke="%230D2D4A" stroke-width="2" stroke-linecap="round"/><line x1="1" y1="-1" x2="27.6897" y2="-1" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 28.6904 8.17261)" stroke="%230D2D4A" stroke-width="2" stroke-linecap="round"/></svg>');
}
.btn_arrow_left_dark{
  background-image:url('data:image/svg+xml,<svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.06934 14.0002C9.06934 14.0002 1.00037 10.6644 1.00037 7.7455C1.00037 4.82662 9.06934 1.00024 9.06934 1.00024" stroke="%23F5F3EE" stroke-width="2" stroke-linecap="round"/><line x1="2.00098" y1="7.17261" x2="28.6906" y2="7.17261" stroke="%23F5F3EE" stroke-width="2" stroke-linecap="round"/></svg>') ;
}
.btn_arrow_right_dark{
  background-image: url('data:image/svg+xml,<svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.6191 14.0002C20.6191 14.0002 28.6881 10.6644 28.6881 7.7455C28.6881 4.82662 20.6191 1.00024 20.6191 1.00024" stroke="%23F5F3EE" stroke-width="2" stroke-linecap="round"/><line x1="1" y1="-1" x2="27.6897" y2="-1" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 28.6895 8.17261)" stroke="%23F5F3EE" stroke-width="2" stroke-linecap="round"/></svg>');
}




.btn_arrow_left_light:hover{
   background-image:url('data:image/svg+xml,<svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.06934 14.0002C9.06934 14.0002 1.00037 10.6644 1.00037 7.7455C1.00037 4.82662 9.06934 1.00024 9.06934 1.00024" stroke="%23F5F3EE" stroke-width="2" stroke-linecap="round"/><line x1="2.00098" y1="7.17261" x2="28.6906" y2="7.17261" stroke="%23F5F3EE" stroke-width="2" stroke-linecap="round"/></svg>') ;
}
.btn_arrow_right_light:hover{
   background-image: url('data:image/svg+xml,<svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.6191 14.0002C20.6191 14.0002 28.6881 10.6644 28.6881 7.7455C28.6881 4.82662 20.6191 1.00024 20.6191 1.00024" stroke="%23F5F3EE" stroke-width="2" stroke-linecap="round"/><line x1="1" y1="-1" x2="27.6897" y2="-1" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 28.6895 8.17261)" stroke="%23F5F3EE" stroke-width="2" stroke-linecap="round"/></svg>');
} 
.btn_arrow_left_dark:hover{
 background-image: url('data:image/svg+xml,<svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.06934 14.0002C9.06934 14.0002 1.00037 10.6644 1.00037 7.7455C1.00037 4.82662 9.06934 1.00024 9.06934 1.00024" stroke="%230D2D4A" stroke-width="2" stroke-linecap="round"/><line x1="2" y1="7.17261" x2="28.6897" y2="7.17261" stroke="%230D2D4A" stroke-width="2" stroke-linecap="round"/></svg>');
}
.btn_arrow_right_dark:hover{
 background-image: url('data:image/svg+xml,<svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.6211 14.0002C20.6211 14.0002 28.6901 10.6644 28.6901 7.7455C28.6901 4.82662 20.6211 1.00024 20.6211 1.00024" stroke="%230D2D4A" stroke-width="2" stroke-linecap="round"/><line x1="1" y1="-1" x2="27.6897" y2="-1" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 28.6904 8.17261)" stroke="%230D2D4A" stroke-width="2" stroke-linecap="round"/></svg>');
}


.btn-icon_card{
  border-radius: 50%;
}

.icon_param_filter {
  color: var(--color--icon-filter-btn); 
}



/*===================================================
                    btn__search
====================================================*/

.btn_search {
  background: var(--color--btn-search);
border: 2px solid transparent; 
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 !important;
}
.btn_search:hover {
 background: var(--color-search-bg);
 border: 2px solid var(--color--btn-search); 
}
.btn_search svg {
  display: block;
}

.btn_search_border {
   border: 4px solid transparent !important; 
}
.btn_search_border:hover {
 border: 4px solid var(--color--btn-search) !important; 
}

.btn_search:hover svg {
  filter: brightness(0) invert(1);
   
}
/*====================================================
                  btn-google
======================================================*/
.btn-google {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border: 3px solid var(--color-input-border);
}
.btn-google__container {
 padding-left: 20px !important;
 display: flex;
 justify-content: left;
 gap: 10px;
}
.btn-google__container div {
  opacity: 0.5;
  line-height: normal;
  height: 39px;
}


/*====================================================
                    Radio btn
======================================================*/
.radioButton_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.btn-radio {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--color--text) !important;
}

.btn-radio:hover{
  border: none
}

.circle_btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-text);
  box-sizing: border-box;
}


.circle_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-text);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.btn-radio--active::after {
  transform: translate(-50%, -50%) scale(1);
}


@media (max-width: 1024px) {
  .circle_btn {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .circle_btn {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .circle_btn {
    width: 25px;
    height: 25px;
  }
}

/*====================================================
                  More tour outer     
======================================================*/
.more_tour_outer {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.more_tour {
  width: 1920px;
  height: 1608px;
}



/*====================================================
                  section-nav
======================================================*/
.section-nav {
  position: sticky;
  top: 0;
  background: white;
  padding: 10px 0;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.section-nav button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 12px;
  color: #555;
}

.section-nav button.active {
  font-weight: bold;
  color: #0077ff;
  border-bottom: 2px solid #0077ff;
}



/*=================================================
              Main Layout
===================================================*/

.search-page__layout {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 24px;
  margin-top: 20px;
}

.search-page__filters {}

.search-page__list {}

/*=================================================
              Hotel Page
===================================================*/
.hotel-page__layout {
  display: flex;
  gap: 24px;
}

/*=================================================
              register-page
===================================================*/
.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-on-primary);
  width: 100%;
}

.register-page__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 600px;
  padding: 20px;
  gap: 20px;
}