.searchBar {
  position: relative;

}

.searchBar,
.input_city,
.input_guest,
.input_date_title {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
}



.searchBar_bg_color_dark {
  background-color: var(--color-search-bg);
  position: relative;
}

.searchBar_bg_color_tr {
  background-color: transparent;
  position: relative;
}


.searchBar__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-search-bg);
  color: var(--color-text);
}

.searchBar__container_main {
  padding: 18px 22px 16px 22px;
}

.searchBar__wrapper {
  background-color: var(--color-search-input-bg);
  width: calc((100% - 135px) / 3);
}


.input_date_title {
  position: relative;
  display: inline-block;
  left: 47%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;


}


.input_wrapper {
  width: 100% !important;
  padding: 10px;
  position: relative;
  border: none !important;
}

.input_city {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.input_city::placeholder {
  opacity: 1;
  line-height: normal;
  color: var(--color-text);
}

.input_icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.input_guest {
  border: none !important;
  background-color: transparent;
  width: 100%;
}

.suggestions_wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 2px;
  padding: 0;
  border-radius: 0 0 10px 10px;
  list-style: none;
  z-index: 1000;
  background: var(--color-input-form-bg);
}