.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: relative;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: background 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* расстояние между двумя Text */
  padding: 0 10px;
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-family: 'Montserrat Alternates', sans-serif;
}

.textContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.border {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: stroke-dashoffset 1s ease-in-out;
  z-index: 1;
}

.btn:hover {
  background: #4f95da;
}

.btn:hover .border {
  stroke-dashoffset: -480;
}
