.card {
  width: 100%;
  height: 100%;
 
}
.card_container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Чтобы убрать лишние отступы у img */
}

.blurOverlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 100%;
  height: 82px;
  border-radius:  0 0 20px 20 px;

  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(8px); /* размытие фона позади */
  -webkit-backdrop-filter: blur(8px); /* для Safari */

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 28px;
  font-weight: 700;
  user-select: none;
}

