.carousel {
  width: 100%;
  height: 854px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 23px 0 17px 0;
}

.controls {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.viewport {
  overflow: hidden;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card {
  flex-shrink: 0;
  width: 243px;
  height: 600px;
  transition: all 0.45s ease;
}

.card.active {
  width: 549px;
  height: 700px;
}
