.footer {
  position: relative;
  width: 100%;
  min-height: 425px;
 
  display: flex;
justify-content: center; 
  align-items: flex-end;   
  overflow: hidden;
  margin-top: 50px;
  padding-bottom: 20px;
  color:var(--color-text-title) !important;
}



.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;   
  height: 927px;
  background-image:  url('data:image/svg+xml,<svg width="1760" height="927" viewBox="0 0 1760 927" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 155.773C0 148.19 4.16282 141.323 10.9595 137.962C63.8849 111.786 291.803 0 324.25 0C361 0 581 131.772 648.5 143.399C710.514 154.081 1596.76 145.135 1740.4 143.61C1751.53 143.492 1760 152.49 1760 163.623V907C1760 918.046 1751.05 927 1740 927H20C8.95429 927 0 918.046 0 907V155.773Z" fill="%23EDE5D1"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
   z-index: -2;
}
.footer::before {
  content: "";
  position: absolute;
  top: 143px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-bg__2);
  z-index: -1;
  border-radius: 20px;
}

.logo{
  position: absolute;
  top: 45px;
  left: 253px;
}



.footer__svg {
  position: absolute;
  top: 0;
  left: 0;
   aspect-ratio: 1920 / 445;
  width: 100%;
  min-width: 1920px;
  z-index: -1;
}

.footer__logo_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;    
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
     background-color: var(  --color-bg__2);
  gap: 20px;
  width: 100%;
  padding: 0 10%;

  
  bottom: 20px;
  padding-bottom: 10px;
  left: 0;
  z-index: 2;
}

@media (max-width: 1324px) {
 .footer {
     aspect-ratio: unset;
    min-height: fit-content;   
    height: fit-content;
    padding-top: 150px;
     padding-bottom: 0;
  }
  .footer__columns {
    width: 100%;
    height: fit-content;
    /* background-color: var(  --color-bg__2); */
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__column {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important; 
}
.footer__column > * {
  align-self: flex-start;
  text-align: left;
}

.footer__column h4 {
  margin-bottom: 12px;
}


.footer__column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--color-text);
  align-self: flex-start;
}

.footer__column ul li {
  margin-bottom: 8px;
}

.footer__column ul,
.footer__column ul li > * {
  display: block;
  width: 100%;
  text-align: left;
}


.footer__socials {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}
.footer__column_logo{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: start;
}


.footer__app_button {
  cursor: pointer;
}
