.infoSection {
  width: 100%;
  height: auto;
  min-height: 687px;
  position: relative;
  margin-bottom: 0;
}

.infoSection__svg {
  width: 100%;
  min-width: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  min-width: unset;
  z-index: 1;
}

.infoSection__logo_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.infoSection__content {
  width: 100%;
  position: relative;
  z-index: 2;
  padding-top: 186px;
  gap: 20px;
}

.infoSection__title {
  width: 100%;
  padding-left: 638px;

}

@media (min-width: 2124px) {
  .infoSection__title {
    padding-left: 33%;
  }

  .infoSection__content {
    padding-top: 10%;
  }
}

@media (max-width: 1920px) {
  .infoSection__title {
    padding-left: 33%;
  }

}

.infoSection__columns {
  width: 100%;
  padding: 0 5% 53px 5%;

}

.infoSection__columns_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}



@media (max-width: 1200px) {

  .infoSection__columns_container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0 5.5%;
  }
}

@media (max-width: 1920px) {
  .infoSection {
    aspect-ratio: auto;
    min-height: unset;
    height: auto;
  }

  .infoSection__columns {
    background-color: var(--color-bg__2);
    border-radius: 10px;
  }
}

.infoSection__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.infoSection__grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 20px;

  justify-content: start;
  align-items: start;
  margin-top: 50px;
}

.infoSection__grid>*:nth-child(2) {
  width: 100%;
  text-align: left !important;
  white-space: pre-line;
}

.infoSection__btn {
  width: 100%;
  aspect-ratio: 758 / 59;
  min-height: 50px;
  margin-top: 50px;
}

.infoSection_card {
  max-width: 302px;
  width: 302px;
  aspect-ratio: 302 / 240;
  border-radius: 20px;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.infoSection_card__container {
  position: relative;
  width: 85%;
  aspect-ratio: 259 / 151;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;

  max-width: 100%;

}

.infoSection_card__container_left {
  background-image: url('../../../public/img/components/Outline_of_Ukraine.svg');
}

.infoSection_card__container_right {
  background-image: url('../../../public/img/components/Group2.svg');
}


/*======================================================================================*/
.moreOffersSection {
  width: 100%;
  height: 978px;

  position: relative;
  margin-bottom: 0;


  background: transparent;

  overflow: hidden;
}


.moreOffersSection::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;

  width: 100%;
  height: 858px;
  background-image: url('../../../public/img/components/entertainment.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  opacity: 0.55;
  pointer-events: none;
  z-index: 0;
}



.moreOffersSection>* {
  position: relative;
  z-index: 1;

}

.moreOffersSection_content {
  padding: 0 11%;
  height: 839px;
  width: 100%;
  padding-bottom: 95px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.18) 17.31%, rgba(0, 0, 0, 0.18) 80.29%, rgba(255, 255, 255, 0) 100%);
}

.moreOffersSection__grid {
  width: 100%;
  display: flex;
     flex-direction: column;
  width: 100%; 
  gap: 70px ;
  justify-content: start;
  align-items: start;
}
.moreOffersSection__row_top,
.moreOffersSection__row_bottom{
    width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  gap: 78px;
}


.sliderViewport {
  overflow: hidden;
  width: 100%;
  min-width: 600px;
  /* всегда видна 1 карточка */
}

.sliderTrack {
  display: flex;
  scroll-behavior: smooth;
}


.scrollControls {
  display: none;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

@media (max-width: 1400px) {
.moreOffersSection__grid > * {
  position: relative;
  overflow: hidden;
}


.moreOffersSection__row_top,
.moreOffersSection__row_bottom{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.moreOffersSection__row_top > :first-child::after {
  border-radius: 20px 0 0 20px !important;
  background: linear-gradient(
    to right,
    rgba(247, 244, 239, 0) 0%,
    rgba(247, 244, 239, 0.45) 15%,
    rgba(247, 244, 239, 0.85) 30%,
    #f7f4ef 50%
  );
  content: "";            
  position: absolute;       
  inset: 0;                 
  pointer-events: none;     
  z-index: 1;               
}

.moreOffersSection__row_top> :last-child {
  flex: 0 0 60%;
  z-index: 10;
}

.moreOffersSection__row_bottom > :last-child::after {
  border-radius: 20px 0 0 20px !important;
  background: linear-gradient(
    to left,
    rgba(247, 244, 239, 0) 0%,
    rgba(247, 244, 239, 0.45) 15%,
    rgba(247, 244, 239, 0.85) 30%,
    #f7f4ef 50%
  );
  content: "";              
  position: absolute;      
  inset: 0;                 
  pointer-events: none;     
  z-index: 1;               
}

.moreOffersSection__row_bottom> :first-child {
  flex: 0 0 60%;
  z-index: 10;
}




/* .moreOffersSection__grid > :nth-child(1),
.moreOffersSection__grid > :nth-child(3) {
  border-radius: 20px 0 0 20px !important;
}
.moreOffersSection__grid > :nth-child(2),
.moreOffersSection__grid > :nth-child(4) {
  border-radius: 0 20px 20px 0 !important;
}
.moreOffersSection__grid > :nth-child(2),
.moreOffersSection__grid > :nth-child(3) {
 z-index: 10 !important;
} */

/* .moreOffersSection__grid > :nth-child(1)::after {
  background: linear-gradient(
    to right,
    rgba(247, 244, 239, 0) 0%,
    rgba(247, 244, 239, 0.45) 45%,
    rgba(247, 244, 239, 0.85) 70%,
    #f7f4ef 100%
  );
}

.moreOffersSection__grid > :nth-child(4)::after {
  background: linear-gradient(
    to left,
    rgba(247, 244, 239, 0) 0%,
    rgba(247, 244, 239, 0.45) 45%,
    rgba(247, 244, 239, 0.85) 70%,
    #f7f4ef 100%
  );
} */

  .sliderTrack {
    overflow-x: auto;
  }

  .sliderTrack::-webkit-scrollbar {
    display: none;
  }

  .scrollControls {
    display: flex;
  }

  .btn_container button {
  display: flex !important;
  }

  .moreOffersSection_card__container {
    gap: 10px;
    padding: 10px 5% 30px;
  }


}



.moreOffersSection_card {
  width: 100%;
  height: 333px;
  border-radius: 20px;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.moreOffersSection_card__container {
  position: relative;
  width: 100%;
  height: 333px;
  box-sizing: border-box;

  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  padding: 30px 40px 30px;
}


.moreOffersSection_card__title,
.moreOffersSection_card__text {
  width: 100%;
  text-align: left !important;
}

.moreOffersSection_card__title>*:nth-child(1) {
  width: 100%;
  text-align: left !important;
  white-space: pre-line;
}

.moreOffersSection_card__text>*:nth-child(1) {
  width: 100%;
  text-align: left !important;
  white-space: pre-line;
}

.moreOffersSection_card__btn {
  width: 38%;
  min-width: 228px;
  height: 59px;
}

.moreOffersSection_card__container_left {
  border-radius: 20px;
  background-image: url('../../../public/img/components/Rectangle 475.svg');
}


.moreOffersSection_card__container_right {
  border-radius: 20px;
  background-image: url('../../../public/img/components/Rectangle 474.svg');
}





.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
  width: 100%;
  padding: 0 4%;
}

.btn_container button {
  display: none;
  flex: 0 0 62px;
}






.footer__column h4 {
  margin-bottom: 12px;
}



.footer__column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--color-text);
}

.footer__column ul li {
  margin-bottom: 8px;
}


/* Соцсети */
.footer__socials {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

/* Кнопка приложения */
.footer__app_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}