.gallery {
  width: 100%;
  height: 303px;
position: relative;
}

.gallery__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.gallery__columns {
  display: flex;
  gap: 22px;
  height: 100%;
}

/* / правая колонки */
.gallery__right_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  min-height: 0;
}

/* Центр */
.gallery__center_container {
  flex: 0 0 70%;
  height: 100%;
}

.gallery__center_wrapper {
  height: 100%;
  overflow: hidden;
}

/* Верх — фикс */
.gallery__columnItem_first {
  height: 159px;
  width: 100%;
  overflow: hidden;
}


.gallery__columnItem_second {
  flex: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.second_columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
  height: 100%;
  min-height: 0;
}




.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}



.blurOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 258px;
  height: 70px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(8px); /* размытие фона позади */
  -webkit-backdrop-filter: blur(8px); /* для Safari */

  display: flex;
  justify-content: center;
  align-items: center;
}
.second_columns_blurImg{
  width: 100%;
  height: 100%;
  position: relative;
}
.blurOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 107px;
  height: 40px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(8px); /* размытие фона позади */
  -webkit-backdrop-filter: blur(8px); /* для Safari */

  display: flex;
  justify-content: center;
  align-items: center;
}