.languageModal {

  width: 100%;
  min-height: 338px;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 20%;
}

.languageModal__container {
  min-width: 1110px;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  background-color: var(--color-bg);
  padding: 30px 25px 60px 45px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  z-index: 100;
}

@media (max-width: 1199px) {
  .languageModal__container {
    min-width: 660px;
    padding: 20px 30px 40px 20px;
  }
}


@media (max-width: 767px) {
  .languageModal__container {
    min-width: 460px;
    padding: 55px 20px 30px 15px;
    border-radius: 15px;
  }
}

.container_btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  padding-left: 8px;
}

.container_header {
  padding-left: 25px;
}

.container_language {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 195px);
  gap: 20px 20px;
}

.container_language button {
  width: 195px;
  border: none;
  height: 44px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid transparent;
  color: var(--color--text);
  cursor: pointer;
}

.container_language__icon {
  border-radius: 50%;
}

.container_currency {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 255px);
  gap: 40px 15px;
}

.container_currency button {
  width: 255px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  gap: 10px;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 20px;
  border: 1px solid transparent;
  color: var(--color--text);
  cursor: pointer;
}

button:hover {
  border: 1px solid var(--color-menu-modal-icon);
}

.btn_active {
  background-color: var(--color-menu-modal-icon) !important;
    color: var(--color-btn-text-dark) !important;
}