.loginPage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1449px;
    min-height: 1037px;
    height: 1037px;

    max-height: 90vh;
    overflow-y: auto;
    border-radius: 20px;
    background-color: var(--color-input-form-bg);
}

.loginPage__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background-color: transparent;
    border: 3px solid var(--color-input-border);
}

.googleButton__wrapper {
    display: inline-flex;
    width: 100%;
}


.actionButton__wrapper {
    width: 100%;
    display: inline-flex;
}

/* placeholder */
.input::placeholder {
    color: var(--color-text);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-left: 20px;
}