.container {
 position: relative;
width: 707px;
height: 594px;
  background-color: var(  --color-menu-modal-bg);
  border-radius: 20px;
  overflow: hidden;
  padding: 27px 0 0 33px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}

.container_title {
 width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 10px;
}
.container_menu_icon{
  width: 50px;
  height: 50px;
  background-color: var(--color-menu-modal-icon);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__list_icon{
   width: 50px;
  height: 50px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.menuList {
  display: flex;
  flex-direction: column;

  justify-content:space-between;
  align-items: start;
  cursor: pointer;
  font-weight: normal;
  border-radius: 0;
  transition: background-color 0.2s ease;
  gap: 38px;
}
.menulist_btn{
   background: transparent;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 15px;
}

.menulist_btn:hover {
  color:var(--color--sort-modal-btn-hover); 
}

.menuItemActive {
  background-color: var(--color--sort-modal-btn-hover);
  font-weight: bold;
  border-radius: 8px 8px 0 0;
}
