.attraction_page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;

}

.attraction_page main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    /* max-width: 1920px;      */
    padding: 0 4%;
    box-sizing: border-box;
    gap: 32px;
    margin-bottom: -200px;
}

.searchBar__wrapper{
    width: 100%;
    height: 100%;
   
}
.searchBar__wrapper >*{
 background-color: transparent !important;
}
.search_form{
    width: 100%;
    padding-right: 60px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.search_btn{
    position: absolute !important;
    right: 5px;
    top: 1px;
}