.cityPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    
}

.cityPage main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    /* max-width: 1920px;      */
     padding: 0 4%;       
    box-sizing: border-box;
    gap: 32px;
}


.info_card {
    flex: 0 0 68.5%;
}

.card_map {
    flex: 1;
    min-width: 0;
}

.hotelDetails {
    margin-top: 20px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.city_img_main {
  height: 505px;
  object-fit: cover;
}

p{
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: var( --color-text);
  margin: 15px 0;
}

.city_img_small {
  /* height: 150px; */
  object-fit: cover;
}
.btn_search{
    width: 80%;
}

