.searchPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 background-color: transparent;
  
}

.hotelPage main {
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.searchPage__container {
  display: flex;
  align-items: flex-start;

  width: 100%;
  padding: 0 4%;
  gap: 20px;
}



.searchPage__container__list {
  flex-grow: 1;
  min-width: 0;

  container-type: inline-size;
  transition: width 0.2s ease;
}

.searchPage__filters {
  position: static;
  flex: 0 0 424px;
  animation: slideIn 0.2s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}