.filterSidebar {
 width: 424px;;
 height: fit-content;
  border-radius: 20px;
  padding: 20px 15px 20px 22px;
  background-color: var(--color-bg__2);
 position: relative;
}

.filterSidebar_title{
  width: 100%;
  aspect-ratio: 475 / 79;
}

.filterSidebar_line{
  margin-bottom: 17px;
}


.line_wrapper {
  display: flex;
  align-items: center;
  width: 80%;  
}

.line {
  flex-grow: 1;
  height: 4px;
  max-width: 304px;
  width:70%;
  background-color: var(--color-btn-text);
  position: relative;
}

.circle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-btn-text);
  border-radius: 50%;
  transform: translateY(-50%);
}

.circle_left{
  left: 0;
  transform: translateY(-50%);
}

 .circle_right {
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {
 .circle { 
   width: 17px;
  height: 17px;
  }
}
@media (max-width: 768px) {
 .circle { 
   width: 14px;
  height: 14px;
  }
}
@media (max-width: 900px) {
  .sidebar {
    position: relative;
    max-height: none;
  }
}
