.hotelCardList {
  width: 100%;
  height: fit-content;
  min-height: 890px;
  padding-left: 91px;
  background-color: var(--color--card-lisr-recmd-bg);
}

.hotelCardList__container {
  width: 100%;
}

.hotelCardList__columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hotelCardList__cardsColumn {

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 27px 30px;
  margin-top: 33px;
}

.hotelCardList__cardGrid {

  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 27px 30px;
  margin-top: 33px;
}

.hotelCardList__imgColumn {
  width: 860px;
  flex-shrink: 0;
}


.hotelSlider {
  width: 100%;
}

.sliderViewport {
  overflow: hidden;
  width: 100%;
  min-width: 600px;
}

.sliderTrack {
  display: flex;
  gap: 40px;
  scroll-behavior: smooth;
}

@media (max-width: 1560px) {
  .sliderViewport {

    min-width: 470px;
  }
}

@media (max-width: 1375px) {
  .hotelCardList__cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 370px);
    gap: 27px 30px;
    margin-top: 33px;
    width: calc(370px * 2 + 30px);
    /* 770px */
    flex-shrink: 0;
  }

  .sliderViewport {

    min-width: 370px;
  }

  .hotelCardList__cardGrid>* {
    min-width: 370px;
  }

  .sliderTrack {
    overflow-x: auto;
  }

  .sliderTrack::-webkit-scrollbar {
    display: none;
  }

  .scrollControls {
    display: flex;
    z-index: 10;
  }

  .btn_container button {
    display: flex !important;
  }
}

.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
  width: 100%;
  padding: 0 4%;
}

.btn_container button {
  display: none;
  flex: 0 0 62px;
}

/*======================================================*/
.imageCard {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  display: block;
}

.badge {
  color: var(--color-text-title);
  padding: 8px 12px;
  border-radius: 10px;
  position: absolute;
  height: 64px;
  left: 27px;
  top: 65px;
  transform: rotate(5.5deg);
}

.line {
  width: 210px;
  height: 1px;
  background-color: var(--color-text-title);
}