.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;
  height: 370px;

  background-color: var( --color-bg__2);
  border-radius: 20px;
}

.card__imageWrapper img {
  flex: 1 1 265px;
  width: 100%;
  height: 265px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex:1;
  gap: 4px;
  color: var(--color-text);
}



.star {
  color: var(--color-text);
}
.right_margin{
margin-right: 5px;
}

.card__details {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

