.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   min-width: 424px; 
  height: 442.8px;
  gap: 5px;
  background: transparent;
  position: relative;
}


.card__imageWrapper img {
  width: 100%;
  height:  290px;
  object-fit: cover;
  border-radius: inherit;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  color: var(--color-text);
  padding: 0 24px 10px 21px;
}

.card__params {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 10px;
  align-items: flex-start;
}

.line {
  background-color: var(--color-text);
  width: 100%;
  height: 1px;
}

.star {
  color: var(--color-text);
}
.right_margin{
margin-right: 5px;
}

.card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
